
{{ 'images-with-button.css' | asset_url | stylesheet_tag }}

<div class="" style="background: {{section.settings.background}};">
  <div class="container images-with-button">
    <div class="iwb-right"> 
        {% for block in section.blocks %}
            {% if block.type == 'image' %}
                <div class="iwb-right-item">
                    <img src="{{block.settings.image |  img_url: 'master'}}" loading="lazy">
                </div>
            {% else %}
                <div class="iwb-right-item">
                    <a href="{{block.settings.button_link}}">
                        {{block.settings.button_label}}
                    </a>
                </div>
            {% endif %}
           
        {% endfor %}
    </div>
    <div class="iwb-left ">
        {% if section.settings.button_label != blank %}
        <div class="iwb-btn">
          <a href="{{section.settings.button_link}}">
              {{section.settings.button_label}}
          </a>
        </div>
        
        {% endif %}
        {% if section.settings.desktop_image != blank %}
            <img class="mb-hidden" src="{{section.settings.desktop_image |  img_url: 'master'}}" loading="lazy">
        {% endif %}
        {% if section.settings.mobile_image != blank %}
            <img class="dk-hidden" src="{{section.settings.mobile_image |  img_url: 'master'}}" loading="lazy">
        {% endif %}
    </div>
  </div>
    
    
</div>
{% schema %}
{
  "name": "Images with button",
  "tag": "section",
  "settings": [
    {
        "type": "color",
        "id": "background",
        "label": "Background"
    },
    {
      "type": "text",
      "label": "Button Label",
      "id": "button_label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    },
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "desktop_image"
    },
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "mobile_image"
    }
    
  ],
  "blocks": [
    {
      "type": "btn",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "label": "Button Label",
          "id": "button_label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "label": "Button Link",
          "id": "button_link"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Images with button"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}