
{{ 'text-with-image.css' | asset_url | stylesheet_tag }}

<div class="text-with-image newtest">
    <div class="twi-left ">
        {% if section.settings.desktop_image != blank %}
            <img src="{{section.settings.desktop_image |  img_url: 'master'}}" loading="lazy">
        {% endif %}
    </div>
    <div class="twi-right"> 
        <div class="twi-top">
            {% if section.settings.description != blank %}
                {{section.settings.description}}
            {% endif %}
        </div>
        <div class="twi-middle">
            {% if section.settings.mobile_image != blank %}
                <img src="{{section.settings.mobile_image |  img_url: 'master'}}" loading="lazy">
            {% endif %}
        </div>
        <div class="twi-bottom">
            {% for block in section.blocks %}
                {% if block.settings.title != blank %}
                    <div class="twi-bottom-item">
                        <svg width="58" height="51" viewBox="0 0 58 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M47.8727 25.3128C47.8727 37.3974 37.9321 47.194 25.6697 47.194C13.4074 47.194 3.4668 37.3974 3.4668 25.3128C3.4668 13.2282 13.4074 3.43164 25.6697 3.43164C37.9321 3.43164 47.8727 13.2282 47.8727 25.3128Z" fill="#FDFF01"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.4165 14.1006C34.0296 14.1006 34.5267 14.5976 34.5267 15.2107V24.092C34.5267 24.7051 34.0296 25.2021 33.4165 25.2021C32.8034 25.2021 32.3063 24.7051 32.3063 24.092V15.2107C32.3063 14.5976 32.8034 14.1006 33.4165 14.1006Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M38.9673 19.6514C38.9673 20.2645 38.4702 20.7615 37.8571 20.7615L28.9759 20.7615C28.3628 20.7615 27.8657 20.2645 27.8657 19.6514C27.8657 19.0382 28.3628 18.5412 28.9759 18.5412L37.8571 18.5412C38.4702 18.5412 38.9673 19.0382 38.9673 19.6514Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.9143 15.2103C31.9143 14.3806 32.5869 13.708 33.4165 13.708C34.2462 13.708 34.9188 14.3806 34.9188 15.2103V18.1486H37.8572C38.6869 18.1486 39.3595 18.8212 39.3595 19.6509C39.3595 20.4806 38.6869 21.1532 37.8572 21.1532H34.9188V24.0915C34.9188 24.9212 34.2462 25.5938 33.4165 25.5938C32.5869 25.5938 31.9143 24.9212 31.9143 24.0915V21.1532H28.9759C28.1462 21.1532 27.4736 20.4806 27.4736 19.6509C27.4736 18.8212 28.1462 18.1486 28.9759 18.1486H31.9143V15.2103ZM31.9143 18.9329H28.9759C28.5794 18.9329 28.2579 19.2544 28.2579 19.6509C28.2579 20.0475 28.5794 20.3689 28.9759 20.3689L31.9143 20.3689V18.9329ZM32.6985 20.3689V18.9329L34.1346 18.9329V20.3689H32.6985ZM32.6985 21.1532V24.0915C32.6985 24.4881 33.02 24.8096 33.4165 24.8096C33.8131 24.8096 34.1346 24.4881 34.1346 24.0915V21.1532L32.6985 21.1532ZM34.9188 20.3689H37.8572C38.2537 20.3689 38.5752 20.0475 38.5752 19.6509C38.5752 19.2544 38.2537 18.9329 37.8572 18.9329H34.9188V20.3689ZM34.1346 18.1486L32.6985 18.1486V15.2103C32.6985 14.8137 33.02 14.4923 33.4165 14.4923C33.8131 14.4923 34.1346 14.8137 34.1346 15.2103V18.1486Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7642 14.1006C17.3773 14.1006 17.8743 14.5976 17.8743 15.2107V24.092C17.8743 24.7051 17.3773 25.2021 16.7642 25.2021C16.151 25.2021 15.654 24.7051 15.654 24.092V15.2107C15.654 14.5976 16.151 14.1006 16.7642 14.1006Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.3149 19.6514C22.3149 20.2645 21.8179 20.7615 21.2048 20.7615L12.3235 20.7615C11.7104 20.7615 11.2134 20.2645 11.2134 19.6514C11.2134 19.0382 11.7104 18.5412 12.3235 18.5412H21.2048C21.8179 18.5412 22.3149 19.0382 22.3149 19.6514Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2619 15.2103C15.2619 14.3806 15.9345 13.708 16.7642 13.708C17.5939 13.708 18.2665 14.3806 18.2665 15.2103V18.1486H21.2048C22.0345 18.1486 22.7071 18.8212 22.7071 19.6509C22.7071 20.4806 22.0345 21.1532 21.2048 21.1532H18.2665V24.0915C18.2665 24.9212 17.5939 25.5938 16.7642 25.5938C15.9345 25.5938 15.2619 24.9212 15.2619 24.0915V21.1532H12.3236C11.4939 21.1532 10.8213 20.4806 10.8213 19.6509C10.8213 18.8212 11.4939 18.1486 12.3236 18.1486H15.2619V15.2103ZM15.2619 18.9329H12.3236C11.927 18.9329 11.6056 19.2544 11.6056 19.6509C11.6056 20.0475 11.927 20.3689 12.3236 20.3689H15.2619V18.9329ZM16.0462 20.3689V18.9329L17.4822 18.9329V20.3689H16.0462ZM16.0462 21.1532V24.0915C16.0462 24.4881 16.3677 24.8096 16.7642 24.8096C17.1608 24.8096 17.4822 24.4881 17.4822 24.0915V21.1532L16.0462 21.1532ZM18.2665 20.3689L21.2048 20.3689C21.6014 20.3689 21.9228 20.0475 21.9228 19.6509C21.9228 19.2544 21.6014 18.9329 21.2048 18.9329H18.2665V20.3689ZM17.4822 18.1486L16.0462 18.1486V15.2103C16.0462 14.8137 16.3677 14.4923 16.7642 14.4923C17.1608 14.4923 17.4822 14.8137 17.4822 15.2103V18.1486Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M37.3971 31.6282C37.8941 31.9872 38.006 32.6811 37.647 33.1782C31.4235 41.7954 19.2021 41.9915 12.3372 33.212C11.9596 32.729 12.0449 32.0313 12.5279 31.6537C13.0109 31.276 13.7086 31.3614 14.0863 31.8444C20.0787 39.5081 30.525 39.2473 35.8471 31.8782C36.2061 31.3812 36.9 31.2692 37.3971 31.6282Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2114 31.4192C35.824 30.571 37.0082 30.38 37.8564 30.9926C38.7045 31.6052 38.8955 32.7893 38.283 33.6375L37.6472 33.1783L38.283 33.6375C31.7406 42.6962 18.8921 42.8683 11.7195 33.6953C11.0751 32.871 11.2208 31.6804 12.045 31.036C12.8692 30.3915 14.0598 30.5372 14.7043 31.3614C20.388 38.6304 30.2072 38.3481 35.2114 31.4192ZM36.938 32.2642C36.7921 32.1588 36.5884 32.1916 36.483 32.3376C30.843 40.1468 19.7697 40.3862 13.4686 32.3276C13.3578 32.1858 13.1529 32.1608 13.0112 32.2716C12.8694 32.3825 12.8443 32.5873 12.9552 32.7291C19.5123 41.1151 31.1067 40.8949 37.0114 32.7192C37.1168 32.5732 37.0839 32.3695 36.938 32.2642Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.3124 47.4045C37.5135 47.4045 47.4045 37.5135 47.4045 25.3124C47.4045 13.1113 37.5135 3.22031 25.3124 3.22031C13.1113 3.22031 3.22031 13.1113 3.22031 25.3124C3.22031 37.5135 13.1113 47.4045 25.3124 47.4045ZM25.3124 49.6248C38.7398 49.6248 49.6248 38.7398 49.6248 25.3124C49.6248 11.885 38.7398 1 25.3124 1C11.885 1 1 11.885 1 25.3124C1 38.7398 11.885 49.6248 25.3124 49.6248Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.3124 1.62788C12.2315 1.62788 1.62739 12.232 1.62739 25.3129C1.62739 38.3937 12.2315 48.9979 25.3124 48.9979C38.3932 48.9979 48.9974 38.3937 48.9974 25.3129C48.9974 12.232 38.3932 1.62788 25.3124 1.62788ZM0.372559 25.3129C0.372559 11.539 11.5385 0.373047 25.3124 0.373047C39.0863 0.373047 50.2522 11.539 50.2522 25.3129C50.2522 39.0868 39.0863 50.2527 25.3124 50.2527C11.5385 50.2527 0.372559 39.0868 0.372559 25.3129ZM25.3124 3.84819C13.4578 3.84819 3.8477 13.4583 3.8477 25.3129C3.8477 37.1675 13.4578 46.7776 25.3124 46.7776C37.167 46.7776 46.7771 37.1675 46.7771 25.3129C46.7771 13.4583 37.167 3.84819 25.3124 3.84819ZM2.59287 25.3129C2.59287 12.7652 12.7647 2.59336 25.3124 2.59336C37.86 2.59336 48.0319 12.7652 48.0319 25.3129C48.0319 37.8605 37.86 48.0324 25.3124 48.0324C12.7647 48.0324 2.59287 37.8605 2.59287 25.3129Z" fill="black"/>
                        </svg>
                        <p>{{block.settings.title}}</p>

                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "desktop_image"
    },
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "mobile_image"
    },
    {
      "type": "richtext",
      "label": "Description",
      "id": "description"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default": "Riddiculously fresh breath"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}