{{ 'product-new-content.css' | asset_url | stylesheet_tag }}

<div class="product-new-section {{section.settings.custom_class}} ">
    <div class="container">
        {% if section.settings.top_desktop_image != blank %}
        <div class="pns-top">
            {% if section.settings.top_desktop_image != blank %}
                <img class="mb-hidden" src="{{section.settings.top_desktop_image |  img_url: 'master'}}" loading="lazy">
            {% endif %}
            {% if section.settings.top_mobile_image != blank %}
                <img class="dk-hidden" src="{{section.settings.top_mobile_image |  img_url: 'master'}}" loading="lazy">
            {% endif %}
            {% if section.settings.title != blank %}
                <div class="pns-title">
                    {{section.settings.title}}
                </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="pns-bottom">
            <div class="pns-bottom-left">
                <div class="pns-bottom-item">
                    {% for block in section.blocks %}
                        {% if block.type == 'top_text' %}
                            {% if block.settings.title != blank %}
                            <div class="pns-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
                                    <path d="M28.6298 15.3322C28.6298 22.456 22.7699 28.2309 15.5415 28.2309C8.31297 28.2309 2.45312 22.456 2.45312 15.3322C2.45312 8.20851 8.31297 2.43359 15.5415 2.43359C22.7699 2.43359 28.6298 8.20851 28.6298 15.3322Z" fill="#FDFF01"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1119 8.72266C20.4734 8.72266 20.7664 9.01565 20.7664 9.37708V14.6124C20.7664 14.9739 20.4734 15.2669 20.1119 15.2669C19.7505 15.2669 19.4575 14.9739 19.4575 14.6124V9.37708C19.4575 9.01565 19.7505 8.72266 20.1119 8.72266Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3841 11.9948C23.3841 12.3562 23.0911 12.6492 22.7296 12.6492L17.4943 12.6492C17.1328 12.6492 16.8398 12.3562 16.8398 11.9948C16.8398 11.6333 17.1328 11.3403 17.4943 11.3403L22.7296 11.3403C23.0911 11.3403 23.3841 11.6333 23.3841 11.9948Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2232 9.37655C19.2232 8.88745 19.6196 8.49097 20.1087 8.49097C20.5978 8.49097 20.9943 8.88745 20.9943 9.37655V11.1087H22.7264C23.2155 11.1087 23.612 11.5051 23.612 11.9942C23.612 12.4833 23.2155 12.8798 22.7264 12.8798H20.9943V14.6119C20.9943 15.101 20.5978 15.4975 20.1087 15.4975C19.6196 15.4975 19.2232 15.101 19.2232 14.6119V12.8798H17.491C17.002 12.8798 16.6055 12.4833 16.6055 11.9942C16.6055 11.5051 17.002 11.1087 17.491 11.1087H19.2232V9.37655ZM19.2232 11.571H17.491C17.2573 11.571 17.0678 11.7605 17.0678 11.9942C17.0678 12.228 17.2573 12.4175 17.491 12.4175L19.2232 12.4175V11.571ZM19.6855 12.4175V11.571L20.532 11.571V12.4175H19.6855ZM19.6855 12.8798V14.6119C19.6855 14.8457 19.875 15.0352 20.1087 15.0352C20.3425 15.0352 20.532 14.8457 20.532 14.6119V12.8798L19.6855 12.8798ZM20.9943 12.4175H22.7264C22.9602 12.4175 23.1497 12.228 23.1497 11.9942C23.1497 11.7605 22.9602 11.571 22.7264 11.571H20.9943V12.4175ZM20.532 11.1087L19.6855 11.1087V9.37655C19.6855 9.14278 19.875 8.95328 20.1087 8.95328C20.3425 8.95328 20.532 9.14278 20.532 9.37655V11.1087Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2916 8.72241C10.6531 8.72241 10.9461 9.01541 10.9461 9.37683V14.6122C10.9461 14.9736 10.6531 15.2666 10.2916 15.2666C9.93021 15.2666 9.63722 14.9736 9.63722 14.6122V9.37683C9.63722 9.01541 9.93021 8.72241 10.2916 8.72241Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5637 11.9945C13.5637 12.3559 13.2707 12.6489 12.9093 12.6489L7.67395 12.6489C7.31253 12.6489 7.01953 12.3559 7.01953 11.9945C7.01953 11.6331 7.31253 11.3401 7.67395 11.3401L12.9093 11.3401C13.2707 11.3401 13.5637 11.6331 13.5637 11.9945Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.40675 9.37655C9.40675 8.88745 9.80323 8.49097 10.2923 8.49097C10.7814 8.49097 11.1779 8.88745 11.1779 9.37655V11.1087H12.91C13.3991 11.1087 13.7956 11.5051 13.7956 11.9942C13.7956 12.4833 13.3991 12.8798 12.91 12.8798H11.1779V14.6119C11.1779 15.101 10.7814 15.4975 10.2923 15.4975C9.80323 15.4975 9.40675 15.101 9.40675 14.6119V12.8798H7.67464C7.18555 12.8798 6.78906 12.4833 6.78906 11.9942C6.78906 11.5051 7.18555 11.1087 7.67464 11.1087H9.40675V9.37655ZM9.40675 11.571H7.67464C7.44088 11.571 7.25138 11.7605 7.25138 11.9942C7.25138 12.228 7.44088 12.4175 7.67464 12.4175H9.40675V11.571ZM9.86906 12.4175V11.571L10.7156 11.571V12.4175H9.86906ZM9.86906 12.8798V14.6119C9.86906 14.8457 10.0586 15.0352 10.2923 15.0352C10.5261 15.0352 10.7156 14.8457 10.7156 14.6119V12.8798L9.86906 12.8798ZM11.1779 12.4175L12.91 12.4175C13.1438 12.4175 13.3333 12.228 13.3333 11.9942C13.3333 11.7605 13.1438 11.571 12.91 11.571H11.1779V12.4175ZM10.7156 11.1087L9.86906 11.1087V9.37655C9.86906 9.14278 10.0586 8.95328 10.2923 8.95328C10.5261 8.95328 10.7156 9.14278 10.7156 9.37655V11.1087Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4563 19.0549C22.7493 19.2665 22.8152 19.6755 22.6036 19.9685C18.9349 25.0482 11.7306 25.1639 7.68384 19.9885C7.46121 19.7038 7.51155 19.2925 7.79627 19.0698C8.08099 18.8472 8.49228 18.8976 8.7149 19.1823C12.2473 23.7 18.4053 23.5462 21.5426 19.2022C21.7542 18.9092 22.1633 18.8432 22.4563 19.0549Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.1653 18.932C21.5264 18.432 22.2244 18.3194 22.7244 18.6805C23.2244 19.0416 23.337 19.7397 22.9759 20.2397L22.6011 19.969L22.9759 20.2397C19.1193 25.5796 11.5452 25.6811 7.31713 20.2737C6.93723 19.7878 7.02313 19.086 7.50899 18.7061C7.99485 18.3262 8.69669 18.4121 9.0766 18.8979C12.4271 23.1829 18.2154 23.0164 21.1653 18.932ZM22.1831 19.4301C22.0971 19.368 21.977 19.3873 21.9149 19.4733C18.5902 24.0768 12.0626 24.2179 8.3482 19.4675C8.28285 19.3839 8.16211 19.3691 8.07853 19.4345C7.99496 19.4998 7.98018 19.6206 8.04553 19.7041C11.9109 24.6476 18.7456 24.5178 22.2263 19.6983C22.2884 19.6123 22.2691 19.4922 22.1831 19.4301Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3318 28.3548C22.5242 28.3548 28.3548 22.5242 28.3548 15.3318C28.3548 8.13943 22.5242 2.30884 15.3318 2.30884C8.13943 2.30884 2.30884 8.13943 2.30884 15.3318C2.30884 22.5242 8.13943 28.3548 15.3318 28.3548ZM15.3318 29.6636C23.2471 29.6636 29.6636 23.2471 29.6636 15.3318C29.6636 7.41657 23.2471 1 15.3318 1C7.41657 1 1 7.41657 1 15.3318C1 23.2471 7.41657 29.6636 15.3318 29.6636Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3306 1.37032C7.6196 1.37032 1.36861 7.62131 1.36861 15.3323C1.36861 23.0433 7.6196 29.2943 15.3306 29.2943C23.0416 29.2943 29.2925 23.0433 29.2925 15.3323C29.2925 7.62131 23.0416 1.37032 15.3306 1.37032ZM0.628906 15.3323C0.628906 7.21278 7.21107 0.630615 15.3306 0.630615C23.4501 0.630615 30.0323 7.21278 30.0323 15.3323C30.0323 23.4518 23.4501 30.034 15.3306 30.034C7.21107 30.034 0.628906 23.4518 0.628906 15.3323ZM15.3306 2.67916C8.34245 2.67916 2.67746 8.34416 2.67746 15.3323C2.67746 22.3204 8.34245 27.9854 15.3306 27.9854C22.3187 27.9854 27.9837 22.3204 27.9837 15.3323C27.9837 8.34416 22.3187 2.67916 15.3306 2.67916ZM1.93775 15.3323C1.93775 7.93563 7.93392 1.93946 15.3306 1.93946C22.7272 1.93946 28.7234 7.93563 28.7234 15.3323C28.7234 22.7289 22.7272 28.7251 15.3306 28.7251C7.93392 28.7251 1.93775 22.7289 1.93775 15.3323Z" fill="black"/>
                                </svg>
                                <p>{{block.settings.title}}</p>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="pns-bottom-item bg-gray">
                    {% if section.settings.bottom_title != blank %}
                        <div class="pns-bottom-title">
                            {{section.settings.bottom_title}}
                        </div>
                    {% endif %}
                    <div class="pns-options">
                        {% for block in section.blocks %}
                            {% if block.type == 'bottom_text' %}
                                {% if block.settings.title != blank %}
                                    <div class="pns-option">
                                        {{block.settings.title}}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="pns-bottom-right">
                {% if section.settings.bottom_image != blank %}
                    <img class="" src="{{section.settings.bottom_image |  img_url: 'master'}}" loading="lazy">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Product New Section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "label": "Top Desktop Image",
      "id": "top_desktop_image"
    },
    {
      "type": "image_picker",
      "label": "Top Mobile Image",
      "id": "top_mobile_image"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "180mg of caffeine per bottle spread across 70 refreshing sprays."
    },
    {
      "type": "image_picker",
      "label": "Bottom Image",
      "id": "bottom_image"
    },
    {
      "type": "text",
      "label": "Bottom Title",
      "id": "bottom_title",
      "default": "Refresh your body and mind."
    },
    {
      "type": "text",
      "label": "Custom Class",
      "id": "custom_class"
    }
  ],
  "blocks": [
    {
      "type": "top_text",
      "name": "Top Text",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        }
      ]
    },
    {
      "type": "bottom_text",
      "name": "Bottom Text",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product New Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}